body{
    margin:0;
}
.spacer{
    width:14.2%;
    margin : 0;
    padding : 0;
}
.boardo {
    background: url(0.png);
    background-size: cover;
    /*background-color: o !important;*/
}
.boardx {
    background: url(x.png);
    background-size: cover;
    /*background-color: x !important;*/
}
.board {
    height: 100%;
    width: 14.2%;
    background-color: gray;
    text-decoration: none;
    border: none;
    transition-duration: 0.15s;
    margin: 0;
    padding:0;
    cursor: pointer;
}
.board:after{
    content: "";
    display: block;
    padding-bottom:100%;
}
/*
#mainBoard{
    height: 1000px;
    width: 1000px;
    align-items: center;
    padding-top: 5%;
}
*/
.row{
    height: 14.2vw;
    text-align: center;
    width: 100%;
    padding: 0;
    text-align: center;
    margin:0;

}
.row:after{
    content: "";
    clear: both;
    display: table;
}
#newGameButton {
    margin: 5px;
    border: none;
    background-color: gray;
    width: 15vw;
    text-align: center;
    text-shadow:none;
    height: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

